@font-face {
	font-family: "Lato";
	src: url(assets/Lato-Black.ttf) format("truetype");
	font-weight: 900;
}
@font-face {
	font-family: "Lato";
	src: url(assets/Lato-Bold.ttf) format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "Lato";
	src: url(assets/Lato-Light.ttf) format("truetype");
	font-weight: 300;
}
@font-face {
	font-family: "Lato";
	src: url(assets/Lato-Regular.ttf) format("truetype");
	font-weight: normal;
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	font-family: "Lato", sans-serif;
}

h2 {
	font-size: 3rem;
	font-weight: 900;
	color: #f0d8d9;
	letter-spacing: 0.4px;
	margin: 0;
	padding-top: 60px;
	padding-bottom: 18px;
}

h4 {
	font-size: 1.8rem;
	font-weight: 900;
	color: #f0d8d9;
	padding-top: 11px;
	padding-bottom: 9px;
}

p {
	text-align: justify;
	font-size: 1.8rem;
	font-weight: 300;
	padding-bottom: 10px;
	margin: 0;
	line-height: 1.7;
	letter-spacing: -0.2px;
	color: #f0d8d9;
}

.wrapper {
	width: 940px;
	margin: auto;
	padding: 0px 40px;
}

.splitter {
	height: 6px;
}

.get-a-quote {
	background-color: #f06c64;
}

.splitter_get-a-quote {
	background-color: #ea676b;
}

.get-a-quote__grid {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 2fr 1fr;
	margin-top: 20px;
}

.input{
	width: 100%;
	margin-top: 11px;
}

.input_line {
	height: 30px;
}

.get-a-quote__info {
	padding-left: 8px;
}

footer {
	background-color: #2d303a;
	height: 50px;
}

.footer__text {
	display: inline-block;
	float: left;
}

.soc_icos {
	display: inline-block;
	float: right;
}

.mes-ico-ellipse {
	background-image: url(assets/social-ico/Ellipse.png);
	display: inline-block;
	height: 32px;
	width: 32px;
	position: relative;
	margin: 15px 6px 64px 0px;
}

.mes-ico {
	height: 14px;
	width: 14px;
	position: absolute;
	top: 9px;
	left: 9px;
}

.mes-ico-ellipse:hover, .mes-ico:hover {
	cursor: pointer;
	opacity: 0.5;
}

.mes-ico__facebook {
	background-image: url(assets/social-ico/facbook.png);
}

.mes-ico__g-plus {
	background-image: url(assets/social-ico/g_plus.png);
}

.mes-ico__tweeter {
	background-image: url(assets/social-ico/twitter.png);
}

.mes-ico__linked-in {
	background-image: url(assets/social-ico/linkedin.png);
}


