@font-face {
	font-family: "Lato";
	src: url(assets/Lato-Black.ttf) format("truetype");
	font-weight: 900;
}
@font-face {
	font-family: "Lato";
	src: url(assets/Lato-Bold.ttf) format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "Lato";
	src: url(assets/Lato-Light.ttf) format("truetype");
	font-weight: 300;
}
@font-face {
	font-family: "Lato";
	src: url(assets/Lato-Regular.ttf) format("truetype");
	font-weight: normal;
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	font-family: "Lato", sans-serif;
}

h1 {
	display: inline-block;
}


.wrapper {	
	max-width: 940px;
	margin: auto;
}

.header {
	background-color: #2d303a;
	padding-top: 28px; 
	padding-bottom: 31px; 
}

.header-logo {	
	display: inline-block;
	color: #ffffff;
	font-size: 2.5rem;
	font-weight: bold; 
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
}

.logo-star {
	color: #f06c64;
}

.header-nav{
	display: inline-block;
	float: right;
}

.nav-li {
	display: inline-block;	
	text-transform: uppercase;
	margin-left: 26px;
	margin-top: 13px;
}

.nav-link {
	font-size: 1.2rem;
	font-weight: bold;
	color: #ffffff;	
	text-decoration: none;
}

.nav-link_active {
	color: #f06c64;	
}

.splitter {
	height: 6px;
}

.splitter_header {
	background-color: #323746;	
}

.slider-block {
	height: 594px;
	background-color: #f06c64;
}

.splitter_slider {
	background-color: #ea676b;	
}

.our-services-block {
	height: 494px;
	background-color: #f2f2f2;
}

.splitter_main {
	background-color: #ffffff;	
}
