@font-face {
	font-family: "Lato";
	src: url(assets/Lato-Black.ttf) format("truetype");
	font-weight: 900;
}
@font-face {
	font-family: "Lato";
	src: url(assets/Lato-Bold.ttf) format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "Lato";
	src: url(assets/Lato-Light.ttf) format("truetype");
	font-weight: 300;
}
@font-face {
	font-family: "Lato";
	src: url(assets/Lato-Regular.ttf) format("truetype");
	font-weight: normal;
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	font-family: "Lato", sans-serif;
}

h2 {
	font-size: 3rem;
	font-weight: 900;
	color: #666d89;
	letter-spacing: 0.4px;
	margin: 0;
	padding-top: 60px;
	padding-bottom: 18px;
}

h4 {
	font-size: 1.8rem;
	font-weight: 900;
	color: #666d89;
	padding-top: 11px;
	padding-bottom: 9px;
}

p {
	text-align: justify;
	font-size: 1.8rem;
	font-weight: 300;
	padding-bottom: 10px;
	margin: 0;
	line-height: 1.7;
	letter-spacing: -0.2px;
	color: #767e9e;
}

.about-person-rapagraph {
	font-size: 1.2rem;
	font-weight: normal;
}

.wrapper {
	width: 940px;
	margin: auto;
	padding: 0px 40px;
}

.splitter {
	height: 6px;
}

.tags-li {
	display: inline-block;
	padding: 5px 0px;
}

.tags-link {
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: normal;
	color: #767e9e;
	padding: 2.5px 6.5px;
	border: 1px solid #767e9e;
	border-radius: 5px;
	margin-right: 7px;
}

.tags-link_active, .tags-link:hover {
	color: #dedede;
	border: 1px solid #dedede;
}

.portfolio {
	background-color: #2d303a;
}

.portfolio-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0px 20px;
	padding: 7px 0px 57px;
}

.portfolio-img{
	margin: 10px 0px;
	height: 187px;
	width: 220px;
}

.portfolio-img__1 {
	background-image: url(assets/arts/p01.png);
	background-position-x: -8px;
	background-position-y: -11px;
}

.portfolio-img__2 {
	background-image: url(assets/arts/p02.png);
	background-position-x: -82px;
	background-position-y: -43px;
}

.portfolio-img__3 {
	background-image: url(assets/arts/p03.png);
	background-position-x: -11px;
	background-position-y: -1px;
}

.portfolio-img__4 {
	background-image: url(assets/arts/p04.png);
	background-position-x: -24px;
	background-position-y: -2px;
}

.portfolio-img__5 {
	background-image: url(assets/arts/p05.png);
	background-position-x: -10px;
	background-position-y: -16px;
}

.portfolio-img__6 {
	background-image: url(assets/arts/p06.png);
	background-position-x: -16px;
	background-position-y: -4px;
}

.portfolio-img__7 {
	background-image: url(assets/arts/p07.png);
	background-position-x: -31px;
	background-position-y: -39px;
}

.portfolio-img__8 {
	background-image: url(assets/arts/p08.png);
	background-position-x: -24px;
	background-position-y: -32px;
}

.portfolio-img__9 {
	background-image: url(assets/arts/p09.png);
	background-position-x: -16px;
	background-position-y: -2px;
}

.portfolio-img__10 {
	background-image: url(assets/arts/p10.png);
	background-position-x: -141px;
	background-position-y: -113px;
}

.portfolio-img__11 {
	background-image: url(assets/arts/p11.png);
	background-position-x: -144px;
	background-position-y: -175px;
}

.portfolio-img__12 {
	background-image: url(assets/arts/p12.png);
	background-position-x: -36px;
	background-position-y: -60px;
}

.splitter_portfolio {
	background-color: #323746;
}

.about-us {
	background-color: #f2f2f2;
}

.about-us-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0px 17px;
	padding: 34px 0px 0;
}

.mes-ico-ellipse {
	background-image: url(assets/social-ico/Ellipse.png);
	display: inline-block;
	height: 32px;
	width: 32px;
	position: relative;
	margin: 15px 6px 64px 0px;
}

.mes-ico {
	height: 14px;
	width: 14px;
	position: absolute;
	top: 9px;
	left: 9px;
}

.mes-ico-ellipse:hover, .mes-ico:hover {
	cursor: pointer;
	opacity: 0.5;
}

.mes-ico__facebook {
	background-image: url(assets/social-ico/facbook.png);
}

.mes-ico__g-plus {
	background-image: url(assets/social-ico/g_plus.png);
}

.mes-ico__tweeter {
	background-image: url(assets/social-ico/twitter.png);
}

.mes-ico__linked-in {
	background-image: url(assets/social-ico/linkedin.png);
}



.splitter_about-us {
	background-color: #ffffff;
}


