@font-face {
	font-family: "Lato";
	src: url(assets/fonts/Lato-Black.ttf) format("truetype");
	font-weight: 900;
}
@font-face {
	font-family: "Lato";
	src: url(assets/fonts/Lato-Bold.ttf) format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "Lato";
	src: url(assets/fonts/Lato-Light.ttf) format("truetype");
	font-weight: 300;
}
@font-face {
	font-family: "Lato";
	src: url(assets/fonts/Lato-Regular.ttf) format("truetype");
	font-weight: normal;
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	font-family: "Lato", sans-serif;
	text-align: justify;
	scroll-behavior: smooth;
}

h1 {
	display: inline-block;
	font-size: 2.5rem;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: -0.7px;
}

h2 {
	font-size: 3rem;
	font-weight: 900;
	padding-top: 60px;
	padding-bottom: 18px;
}

h4 {
	font-size: 1.8rem;
	font-weight: 900;	
}

p {
	font-size: 1.8rem;
	font-weight: 300;
	line-height: 1.7;
	letter-spacing: -0.2px;
}

.wrapper {
	max-width: 1020px;
	margin: auto;
}

.scroll-margin-top {
	scroll-margin-top: 95px;
}

.splitter {
	height: 6px;
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	background-color: #2d303a;
	color: #ffffff;
}

.header__content {
	padding: 28px 40px 31px;
}

.logo {
	display: inline-block;
	font-size: 2.5rem;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: -0.7px;
}

.logo__star {
	color: #f06c64;
}

.nav {
	display: inline-block;
	float: right;
}

.nav__li {
	display: inline-block;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: -0.3px;
	margin: 14.5px 0px 0px 11.3px;
}

.nav__link {
	text-decoration: none;
	color: #ffffff;
}

	.nav__link:hover {
		text-decoration: underline;
		color: #f06c64;
	}

.nav__link_active {
	color: #f06c64;
}

.nav__point {
	color: #494e62;
}

.splitter_header {
	background-color: #323746;
}

.splitter_slider_1 {
	background-color: #ea676b;
}

.splitter_slider_2 {
	background-color: #648cf0;
}

.splitter_services {
	background-color: #ffffff;
}

.splitter_portfolio {
	background-color: #323746;
}

.splitter_about-us {
	background-color: #ffffff;
}

.splitter_get-a-quote {
	background-color: #ea676b;
}

.slider {
	position: relative;
	margin-top: 95px;
}

.slider__carousel {
	position: relative;
	overflow: hidden;
	max-height: 600px;
	height: 58.82vw;
}

.slider__item {
	position: absolute;
	top: 0;
	width: 100%;
	animation: 0.6s ease-in-out;
}

.slider__item_1 {
	background-color: #f06c64;
}

.slider__item_2 {
	background-color: #648BF0;
}

.slider__slide {
	max-height: 594px;
	height: 58.23vw;
	position: relative;
}

.phone__shadow {
	position: absolute;
	height: 40.40%;
	top: 29.29%;
	z-index: 10;
}

.phone__shadow_1 {
	left: -1%;
	transform: rotate(90deg) scale(1, -1);
}

.phone__shadow_2 {
	left: 41.7%;
}

.phone__obj {
	position: absolute;
	height: 36.2%;
	top: 29.3%;
	z-index: 20;
	cursor: pointer;
}

.phone__obj_1 {
	left: -1%;
	transform: rotate(270deg);
}

.phone__obj_2 {
	left: 41.7%;
}

.phone__content {
	cursor: pointer;
	position: absolute;
	z-index: 30;
}

.phone__content_1 {
	background-image: url(assets/slider/first_phone_content.png);
	background-size: 307%;
	background-position-x: 3.2%;
	background-position-y: 54.5%;
	width: 18.5%;
	height: 56.2%;
	top: 19.7%;
	left: 12.3%;
}

.phone__content_2 {
	background-image: url(assets/slider/second_phone_content.png);
	background-size: 174%;
	background-position-x: 50.8%;
	background-position-y: 30.2%;
	width: 32.7%;
	height: 31.6%;
	top: 31.7%;
	left: 47.5%;
}

.slider__slide_2 {
	position: absolute;
	top: 8%;
	left: 25%;
	width: 50.67%;
}

.slider__control {
	position: absolute;
	top: calc(50% - 19px);
	height: 27px;
	width: 16px;
	background-image: url(assets/slider/chev.png);
	cursor: pointer;
	margin: 0 40px;
}

	.slider__control:hover {
		opacity: 0.5;
	}

.slider__control_left {
	left: calc((100% - 1020px) / 2);
}

.slider__control_rigth {
	right: calc((100% - 1020px) / 2);
	transform: scale(-1, 1);
}

.animation_to-left {
	animation-name: left;
}

.animation_to-right {
	animation-name: right;
	animation-direction: reverse;
}

.animation_from-left {
	animation-name: left;
	animation-direction: reverse;
}

.animation_from-right {
	animation-name: right;
}

@keyframes left {
	from {
		left: 0;
	}
	to {
		left: -100%;
	}
}

@keyframes right {
	from {
		left: 100%;
	}

	to {
		left: 0;
	}
}

.services {
	background-color: #f2f2f2;
	color: #666d89;
}

.portfolio {
	background-color: #2d303a;
	color: #767e9e;
}

.about-us {
	background-color: #f2f2f2;
	color: #767e9e;
}

.get-a-quote {
	background-color: #f06c64;
	color: #f0d8d9;
}

.footer {
	background-color: #2d303a;
	color: #666d89;
}

.services__content {
	padding: 0 40px 59px;
}

.services__grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 28px 19px;
}

.service__paragraph {
	font-size: 1.2rem;
	font-weight: normal;
	height: 80px;
	padding-top: 8px;
	line-height: 1.8;
	overflow: hidden;
}

.service {
	display: grid;
	grid-template-columns: 1fr 3fr; 
	height: 95px;
}

.services-header-paragraph {
	padding-bottom: 43px;
	margin: 0;
}

.ico {
	position: relative;
}

.service__logo {
	position: relative;
}

.service__ellipse {
	position: absolute;
	z-index: 5;
	top: 3px;
	right: 14px;
}

.service__label {
	position: absolute;
	z-index: 10;
	top: 16px;
	right: 27px;
}

.service__text {
	padding-left: 5px;
}

.about-person-rapagraph {
	font-size: 1.2rem;
	font-weight: normal;
}

.tags-li {
	display: inline-block;
	margin: 1px 0 2px;
	height: 20px;
	border-radius: 5px;
	border: 1px solid #767e9e;
	margin-right: 6px;
	color: #767e9e;
	padding: 0 7px 0;
}

.tags-li_active, .tags-li:hover {
	cursor: pointer;
	border: 1px solid #dedede;
	color: #dedede;
}

.tags-link {
	color: inherit;
	text-decoration: none;
	font-size: 1.2rem;
	line-height: 22px;
	font-weight: normal;
}

.porfolio__content {
	padding: 0 40px;
}

.portfolio-zone {
	padding: 7px 30px 57px;
}

#portfolio-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-auto-rows: 0;
	overflow-y: hidden;
}

.porfolio-paragraph {
	padding-bottom: 9px;
	margin: 0;
}

.portfolio-img {
	margin: 10px;
}

.portfolio-img::before {
	content: "";
	float: left;
	padding-top: 85%;
}

.portfolio-img_active {
	outline: 5px solid #F06C64;
}

.portfolio-img__1 {
	background-image: url(assets/arts/p01.png);
	background-position-x: -8px;
	background-position-y: -11px;
}

.portfolio-img__2 {
	background-image: url(assets/arts/p02.png);
	background-position-x: -82px;
	background-position-y: -43px;
}

.portfolio-img__3 {
	background-image: url(assets/arts/p03.png);
	background-position-x: -11px;
	background-position-y: -1px;
}

.portfolio-img__4 {
	background-image: url(assets/arts/p04.png);
	background-position-x: -24px;
	background-position-y: -2px;
}

.portfolio-img__5 {
	background-image: url(assets/arts/p05.png);
	background-position-x: -10px;
	background-position-y: -16px;
}

.portfolio-img__6 {
	background-image: url(assets/arts/p06.png);
	background-position-x: -16px;
	background-position-y: -4px;
}

.portfolio-img__7 {
	background-image: url(assets/arts/p07.png);
	background-position-x: -31px;
	background-position-y: -39px;
}

.portfolio-img__8 {
	background-image: url(assets/arts/p08.png);
	background-position-x: -24px;
	background-position-y: -32px;
}

.portfolio-img__9 {
	background-image: url(assets/arts/p09.png);
	background-position-x: -16px;
	background-position-y: -2px;
}

.portfolio-img__10 {
	background-image: url(assets/arts/p10.png);
	background-position-x: -141px;
	background-position-y: -113px;
}

.portfolio-img__11 {
	background-image: url(assets/arts/p11.png);
	background-position-x: -144px;
	background-position-y: -175px;
}

.portfolio-img__12 {
	background-image: url(assets/arts/p12.png);
	background-position-x: -36px;
	background-position-y: -60px;
}

.about-us_content {
	padding: 0 40px;
}

.about-us-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0px 20px;
	padding: 44px 0px 0;
}

.face {
	height: 299px;
	padding-bottom: 1px;
	margin-bottom: 15px;
}

.face__1 {
	background-image: url(assets/faces/f1.png);
}

.face__2 {
	background-image: url(assets/faces/f2.png);
}

.face__3 {
	background-image: url(assets/faces/f3.png);
}

.about-person {
	margin-bottom: 6px;
	overflow-y: hidden;
}

.about-person p {
	height: 34px;
	margin: 10px 0 15px 0;
	overflow-y: hidden;
	line-height: 20px;
}

.mes-ico-ellipse {
	background-image: url(assets/social-ico/Ellipse.png);
	display: inline-block;
	height: 32px;
	width: 32px;
	position: relative;
}

.about-us__mes {
	margin: 16px 6px 58px 0px
}

.mes-ico {
	height: 14px;
	width: 14px;
	position: absolute;
	top: 9px;
	left: 9px;
}

.mes-ico-ellipse:hover, .mes-ico:hover {
	cursor: pointer;
	opacity: 0.5;
}

.mes-ico__facebook {
	background-image: url(assets/social-ico/facbook.png);
}

.mes-ico__g-plus {
	background-image: url(assets/social-ico/g_plus.png);
}

.mes-ico__tweeter {
	background-image: url(assets/social-ico/twitter.png);
}

.mes-ico__linked-in {
	background-image: url(assets/social-ico/linkedin.png);
}

.get-a-quote_content {
	padding: 0 40px;
}

.get-a-quote__grid {
	display: grid;
	grid-gap: 33px;
	grid-template-columns: 2fr 1fr;
	margin-top: 30px;
}

.get-a-quote__form {
	padding-top: 13px;
}

.get-a-quote__info {
	padding: 11px 0 0 2.5px;
}

.get-a-quote__info__text {
	display: inline-block;
	font-size: 1.2rem;
	font-weight: normal;
	line-height: 21px;
	padding-top: 9px;
}

.contacts {
	margin-top: 13px;
	padding-top: 10px;
}

.get-a-quote__info__contact {
	padding-top: 0px;
}

.get-a-quote__info__text a {
	text-decoration: none;
	cursor: pointer;
	letter-spacing: -0.2px;
	color: #f0d8d9;
}

.input {
	width: 97%;
	margin-bottom: 15px;
	padding: 9px 15px;
	background-color: #d6564f;
	border: 2px solid #d6564f;
	border-radius: 5px;
	resize: none;
	color: #f0d8d9;
	font-size: 1.4rem;
	text-align: justify;
	font-weight: 300;
	outline: none;
}

input:invalid {
	border: 2px solid #b62920;
}

.textarea {
	height: 180px;
}

.input::placeholder {
	color: #f48c8f;
	font-size: 1.2rem;
}

.get-a-quote__button {
	margin-bottom: 14px;
}

.button {
	color: #f0d8d9;
	width: 80px;
	border: 1px solid #d6564f;
	background-color: #d6564f;
}

.button:hover {
	cursor: pointer;
	opacity: 0.5;
	border: 1px solid #f0d8d9;
}

.get-a-quote__ico {
	display: inline-block;
	width: 20px;
	height: 10px;
	background-repeat: no-repeat;
}

.get-a-quote__ico__location {
	background-image: url(assets/contact_ico/location.png);
}

.get-a-quote__ico__phone {
	background-image: url(assets/contact_ico/phone.png);
}

.get-a-quote__ico__mail {
	background-image: url(assets/contact_ico/mail.png);
}

footer {
	height: 76px;
}

.footer_line {
	padding: 0 40px;
}

.footer__text {
	font-size: 1.2rem;
	display: inline-block;
	float: left;
	padding: 28px 0 0 2px;
}

.soc_icos {
	display: inline-block;
	float: right;
}

.footer_mes {
	margin: 22px 0px 0 5px;
}

#message-block {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

.message {
	position: absolute;
	min-width: 470px;
	padding: 10px 10px;
	top: 25%;
	left: 25%;
	background-color: #f06c64;
	color: #f0d8d9;
	border: 2px solid #f0d8d9;
	border-radius: 5px;
	text-align: left;
}

.invisible {
	display: none;
}

@media (max-width: 1019px) {
	.slider__control {
		margin: 0 3.92%;
	}

	.slider__control_left {
		left: 0;
	}

	.slider__control_rigth {
		right: 0;
	}

	.services__grid {
		grid-template-columns: repeat(2, 1fr);
	}

	#portfolio-grid {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, 1fr);
	}
}

@media (max-width: 767px) {
	.services__grid {
		grid-template-columns: repeat(1, 1fr);
	}

	#portfolio-grid {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);
	}

	.about-us-grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.get-a-quote__grid {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (max-width: 374px) {
}